@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url(styles/header.css);
@import url(styles/menu.css);
@import url(styles/footer.css);
@import url(styles/especies.css);
@import url(styles/aneis.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
  /* ===== VERDES (mais vivos e usáveis) ===== */
  --verde-elfico: #2F5D50;   /* antes muito escuro */
  --verde-musgo: #4E7A63;

  /* ===== TONS TERROSOS ===== */
  --marrom-terra: #5A3822;

  /* ===== DESTAQUE ===== */
  --dourado-anel: #D4AF37; /* mais “anel do poder” mesmo */

  /* ===== NEUTROS ===== */
  --cinza-pedra: #6E6E6E;
  --preto-mordor: #1E1E1E; /* menos “morto” que preto puro */
  --pergaminho: #F5ECD7;   /* mais claro = melhor leitura */

  /* ===== TIPOGRAFIA ===== */
  --fonte-principal: 'Cormorant Garamond', serif;
  --fonte-secundaria: 'Cinzel', serif;
}

body {
    background-color: var(--pergaminho);
}