main{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: var(--dourado-anel) 3px solid; 
    border-radius: 10px; 
    margin: 2em; 
    padding: 1em;
}

.menu-especies,
.sublista {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.menu-especies{
    background-color: var(--preto-mordor);
    border-radius: 10px;
}

/* Esconder listas e descrições por padrão */ 
.sublista { 
    display: none; /* esconde todas as sublistas */ 
    margin-left: 20px; /* opcional, recuo */ } 
    
.descricao { 
    display: none; /* esconde todas as descrições */ 
    margin-left: 20px; /* opcional, recuo */ 
    font-family: var(--fonte-primaria); font-size: 18px; 
    background-color: var(--preto-mordor); 
    color: var(--dourado-anel); 
    border: solid var(--verde-elfico) 3px; 
    border-radius: 10px; } 

.img__menu {
    border-radius: 8px;
    margin: 1em;
}
    
/* Quando ativos, exibem */ 
.sublista.ativo { 
    display: block; } 
    
.descricao.ativo { 
    display: block; } 
    
.botao__classes { 
    font-family: var(--fonte-secundaria); 
    color: var(--dourado-anel); 
    background-color: var(--verde-elfico); 
    font-size: 20px; 
    font-weight: 500; 
    border-radius: 12px; 
    padding: 0 1em; 
    margin: 0.5em; } 
    
.botao__especie { 
    font-family: var(--fonte-secundaria); 
    font-size: 18px; 
    font-weight: 400; 
    color: var(--pergaminho); 
    background-color: var(--verde-musgo); 
    border-radius: 12px; 
    padding: 0 1em; 
    margin: 0.25em; }

#painel-conteudo {
    text-align: center;
}

.titulo__menu{
    font-family: var(--fonte-secundaria);
    color: var(--dourado-anel);
    font-size: 30px;
    font-weight: 500;
    border-bottom: solid var(--dourado-anel);
    padding: 0,5em;
}