.terra-media {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    border: var(--dourado-anel) 3px solid;
    border-radius: 10px;
    font-family: var(--fonte-secundaria);
    margin: 2em;
    padding: 1.5em;
}

.regioes {
    background-color: var(--verde-elfico);
    border-radius: 18px;
    padding: 1em;
    margin: 1em;
    width: 320px;
    min-width: 320px;

}

.titulo {
    font-family: var(--fonte-secundaria);
    color: var(--dourado-anel);
    font-size: 28px;
    font-weight: 500;

    border-bottom: 2px solid var(--dourado-anel);
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    text-align: center;
}

.subtitulo {
    font-family: var(--fonte-secundaria);
    color: var(--dourado-anel);
    font-size: 20px;
    font-weight: 500;

    border-bottom: 2px solid var(--dourado-anel);
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    text-align: center;
}

.regioes__principais__ex {
    display: none;
    padding: 10px;
    background-color: var(--verde-elfico);
    color: var(--pergaminho);
    border-radius: 8px;
    margin-bottom: 15px;
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.regioes__principais {
    cursor: pointer;
    background-color: var(--verde-elfico);
    color: var(--pergaminho);
    font-weight: 500;
    padding: 8px;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 20px;
}

.regioes__principais:hover {
    background-color: var(--verde-musgo);
    color: var(--dourado-anel);
}

.img__mapa {
    margin: 1em;
    border-style: solid;
    border-color: var(--dourado-anel);
    border-radius: 10px;
}